header {
  background-color: var(--secondary-gray);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  font-family: 'Karla', sans-serif;
}

.header-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  text-transform: uppercase;
}

.header-nav__list-item {
  margin-left: 22px;
}

.header-nav__list-item__link {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.header-nav__list-item__link:hover {
  color: var(--primary-yellow);
}